.background-nav{
    background: linear-gradient(rgba(15, 23, 43, 0.589), rgba(226, 228, 233, 0.9)), url(../img/bg-page-title-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
  
  



  
  