{% load static %}
<link rel="stylesheet" href="{% static 'css/carousal.css' %}">

 <!--carousel-->
 <div class="container-xxl py-5 bg-dark carousel-header mb-5">
    <div class="container my-5 py-5">
      <div class="row align-items-center g-5">
        <div class="col-lg-6 text-center text-lg-start">
          <h1 class="display-3 text-white animated slideInLeft">Enjoy Our<br>Delicious Healthy Foods</h1>
          <p class="text-white animated slideInLeft mb-4 pb-2">Nullam sit amet sem imperdiet, pulvinar libero a, tincidunt neque. Sed mattis nulla id eros interdum lobortis. Nullam mattis porttitor nulla in posuere. Pellentesque feugiat quis nunc et rutrum. Quisque id ipsum rutrum, consequat odio sagittis, rutrum magna. </p>
        </div>
        <div class="col-lg-6 text-center text-lg-end overflow">
          <img class="img-fluid " src="{% static 'img/Mask group.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>