{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
       {% block title %}{% endblock %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/header.css" %}">
        <!--bootstrapcss-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       <!--googleFonts-->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--header-->
        <div class="container-xxl background-nav position-relative p-0 ">
          <nav class="navbar navbar-expand-lg  navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0 ">
            <a class="navbar-brand p-0"  href="#">
              <h1 class=" display-9 m-0" style="color: white;"> <i class="fa-solid fa-carrot me-3"></i>ORGANIC FOODS</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="fa fa-bars"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
              <a href="#" class="nav-item nav-link active">Home</a>
              <a href="{% url "aboutus" %}" class="nav-item nav-link ">About Us</a>
              <a href="#Recipe" class="nav-item nav-link ">Recipe</a>
              <div class="nav-item dropdown">
                <a href="#" class="nav-link " data-bs-toggle="dropdown" id="shop">Shop</a>
                {% if user.is_authenticated %}
                <div class="dropdown-menu m-0">
                    <a href="{% url "product" %}" class="dropdown-item">Products</a>
                    <a href="#" class="dropdown-item">Booking Details</a>
                    <a href="{% url "view_order" %}" class="dropdown-item">My Orders</a>
                </div>
                {% endif %}
              </div>
              
              <a href="{% url "contact" %}" class="nav-item nav-link "> Contact</a>
            </div>
            {% if user.is_authenticated %}
            <button class="btn btn-outline-success py-2 px-4 mx-2"  type="button">
              {{user.username}}
            </button>
            <a href="{% url 'logout' %}" class="btn btn-outline-success py-2 px-4 mx-2">LogOut</a>
            {% else %}
            <a href="{% url "signup" %}" class="btn btn-outline-success py-2 px-4 mx-2">SignUp</a>
            <a href="{% url "login" %}" class="btn btn-outline-success py-2 px-4 mx-2">LogIn</a>
            {% endif %}
          </div>
          </nav> 
        </div>
  
          {% block content %}
        
          
          {% endblock %}


          
          
          
        
        <script >
         
       </script>
        <!--jquary-->
        <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.min.js" integrity="sha256-Fb0zP4jE3JHqu+IBB9YktLcSjI1Zc6J2b6gTjB0LpoM=" crossorigin="anonymous"></script>
        <!--bootstrapjs-->
        <script src="https://kit.fontawesome.com/a3e6ec8cbc.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/a3e6ec8cbc.js" crossorigin="anonymous"></script>
      </body>
</html>