{% load static %}

<!--css link-->
<link rel="stylesheet" href="{% static "css/our_team.css" %}">

<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class=" text-center ">
            <h5 class="section-title ff-secondary text-center fw-normal">Team Members</h5>
            <h1 class="mb-5" style=" color: black;">Our Farmers</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle m-4 overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/our_teams/team1.jpg' %}" alt="">

                    </div>
                    <h5 class="mb-0">Julie Potter</h5>
                    <small>Milk Farmer</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-light mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-light mx-1" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-light mx-1" href="#"><i class="fab fa-instagram"></i></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item text-center rounded overflow-hidden" >
                    <div class="rounded-circle m-4 overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/our_teams/team2.jpg' %}" alt="">
                    </div>
                    <h5 class="mb-0">John Davies</h5>
                    <small>Farm Manager</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-light mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-light mx-1" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-light mx-1" href="#"><i class="fab fa-instagram"></i></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle m-4 overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/our_teams/team3.jpg' %}" alt="">
                    </div>
                    <h5 class="mb-0">Paul Brown</h5>
                    <small> Farm Manager </small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-light mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-light mx-1" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-light mx-1" href="#"><i class="fab fa-instagram"></i></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle m-4 overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/our_teams/team4.jpg' %}" alt="">
                    </div>
                    <h5 class="mb-0">Barry Right</h5>
                        <small>Farm Manager</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-light mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-light mx-1" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-light mx-1" href="#"><i class="fab fa-instagram"></i></a>
                        
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
